<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trendz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".AutoPoolIncomeActivity" android:parentActivityName=".NavigationActivity"></activity>
        <activity android:name=".TeamIncomeActivity" android:parentActivityName=".NavigationActivity"/>
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LogoActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".RestpasswordActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ForgotPasswordActivity" android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_tzBplcvliTHbBG"/>

        <activity android:name=".RegisterActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MainActivity" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>